doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/586aa5b70a.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="css/main.css")
        title Передовая IT студия
    body 
        nav.nav 
            .nav__container.container 
                a.nav__link.nav__link--this_page(href="#") Главная
                a.nav__link(href="#") Наши проекты
                a.nav__link(href="#") Услуги
                a.nav__link(href="#") Новости
                a.nav__link(href="#") Контакты

        .header 
            .header__container.container 
                h1.header__title Передовая IT студия
                p.header__descr
                    | Мы создаем легкие решения 
                    | сложных задач и проблем
                a.header__our_projects-link.btn-link.btn(href="#") Наши проекты

        main.content 
            section.content__services-section.content__section 
                .content__services-container.content__container.container 
                    h2.content__services-title.content__section-title
                        | Мы создаем мобильные приложения 
                        | для крупных корпораций
                    p.content__services-descr.content__section-descr.content__text-descr
                        | Lorem Ipsum - это текст-"рыба", часто используемый в печати и 
                        | вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
                        | текстов на латинице с начала XVI века. 

                    .content__services-items-wrapper 
                        .content__services-item
                            .content__services-item-img-wrapper
                                img.content__services-item-img(src="img/icons/project.svg", alt="", width="40", height="40")
                            .content__services-item-text-wrapper 
                                h3.content__services-item-title.content__section-item-title Создание сайтов
                                p.content__services-item-descr.content__text-descr
                                    | Lorem Ipsum - это текст- "рыба", часто используе 
                                    | в печати и вэб-дизайне.
                        .content__services-item
                            .content__services-item-img-wrapper
                                img.content__services-item-img(src="img/icons/project.svg", alt="", width="40", height="40")
                            .content__services-item-text-wrapper 
                                h3.content__services-item-title.content__section-item-title Создание сайтов
                                p.content__services-item-descr.content__text-descr
                                    | Lorem Ipsum - это текст- "рыба", часто используе 
                                    | в печати и вэб-дизайне.
                        .content__services-item
                            .content__services-item-img-wrapper
                                img.content__services-item-img(src="img/icons/project.svg", alt="", width="40", height="40")
                            .content__services-item-text-wrapper 
                                h3.content__services-item-title.content__section-item-title Создание сайтов
                                p.content__services-item-descr.content__text-descr
                                    | Lorem Ipsum - это текст- "рыба", часто используе 
                                    | в печати и вэб-дизайне.
                    a.content__services-all_services-link.btn-link.btn(href="#") Все услуги

            section.content__about_us-section.content__section 
                .content__about_us-container.content__container.container
                    .content__about_us-main-wrapper
                        .content__about_us-text-wrapper 
                            h2.content__about_us-title.content__section-title Высокие стандарты разработки
                            p.content__about_us-descr.content__section-descr.content__text-descr
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
                                | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала 
                                | XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века.
                            a.content__about_us-link.content__section-link(href="#")  Подробнее о компании
                        img.content__about_us-picture.picture(src="img/about-us@720.jpg", alt="Высокие стандарты разработки" width="500" height="400")
                    .content__about_us-items-wrapper 
                        .content__about_us-item 
                            .content__about_us-item-num-wrapper 
                                img.content__about_us-item-icon(src="img/icons/web-programming.svg", alt="", width="30", height="30")
                                span.content__about_us-item-num 125
                            .content__about_us-item-descr.content__text-descr Our projects
                        .content__about_us-item 
                            .content__about_us-item-num-wrapper 
                                img.content__about_us-item-icon(src="img/icons/web-programming.svg", alt="", width="30", height="30")
                                span.content__about_us-item-num 125
                            .content__about_us-item-descr.content__text-descr Our projects
                        .content__about_us-item 
                            .content__about_us-item-num-wrapper 
                                img.content__about_us-item-icon(src="img/icons/web-programming.svg", alt="", width="30", height="30")
                                span.content__about_us-item-num 125
                            .content__about_us-item-descr.content__text-descr Our projects
                        .content__about_us-item 
                            .content__about_us-item-num-wrapper 
                                img.content__about_us-item-icon(src="img/icons/web-programming.svg", alt="", width="30", height="30")
                                span.content__about_us-item-num 125
                            .content__about_us-item-descr.content__text-descr Our projects
                        .content__about_us-item 
                            .content__about_us-item-num-wrapper 
                                img.content__about_us-item-icon(src="img/icons/web-programming.svg", alt="", width="30", height="30")
                                span.content__about_us-item-num 125
                            .content__about_us-item-descr.content__text-descr Our projects
                        

            section.content__all_services-section.content__section 
                .content__all_services-container.content__section-container.container 
                    .content__all_services-title-wrapper 
                        h2.content__all_services-title.content__section-title
                            | Наши работы, на которых 
                            | мы специализируемся
                        a.content__all_services-link.btn-link.btn(href="#") Все услуги

                    .content__all_services-items-wrapper 
                        .content__all_services-item 
                            img.content__all_services-item-picture.picture(src="img/header-bg@480.jpg", alt="01. Исследование и упаковка", width="350", height="300")
                            h3.content__all_services-item-title.content__section-item-title 
                                span.content__all_services-item-title-num 01. 
                                | Исследование и упаковка
                            p.content__all_services-item-descr.content__text-descr
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и 
                                | вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
                                | текстов на латинице с начала XVI века.
                            a.content__all_services-item-link.content__section-link(href="#") Подробнее
                        .content__all_services-item 
                            img.content__all_services-item-picture.picture(src="img/header-bg@480.jpg", alt="01. Исследование и упаковка", width="350", height="300")
                            h3.content__all_services-item-title.content__section-item-title 
                                span.content__all_services-item-title-num 01. 
                                | Исследование и упаковка
                            p.content__all_services-item-descr.content__text-descr
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и 
                                | вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
                                | текстов на латинице с начала XVI века.
                            a.content__all_services-item-link.content__section-link(href="#") Подробнее
                        .content__all_services-item 
                            img.content__all_services-item-picture.picture(src="img/header-bg@480.jpg", alt="01. Исследование и упаковка", width="350", height="300")
                            h3.content__all_services-item-title.content__section-item-title 
                                span.content__all_services-item-title-num 01. 
                                | Исследование и упаковка
                            p.content__all_services-item-descr.content__text-descr
                                | Lorem Ipsum - это текст-"рыба", часто используемый в печати и 
                                | вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для 
                                | текстов на латинице с начала XVI века.
                            a.content__all_services-item-link.content__section-link(href="#") Подробнее
                        
            section.content__all_projects-section.content__section 
                .content__all_projects-container.content__container.container 
                    h2.content__all_projects-title.content__section-title Наши проекты
                    p.content__all_projects-descr.content__section-descr.content__text-descr
                        | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. 
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице 
                        | с начала XVI века.

                    .content__all_projects-pictures-wrapper 
                        img.content__all_projects-picture.picture(src="img/all-projects-item@320.jpg", alt="*Наш проект*", width="255", height="255")
                        img.content__all_projects-picture.picture(src="img/all-projects-item@320.jpg", alt="*Наш проект*", width="255", height="255")
                        img.content__all_projects-picture.picture(src="img/all-projects-item@320.jpg", alt="*Наш проект*", width="255", height="255")
                        img.content__all_projects-picture.picture(src="img/all-projects-item@320.jpg", alt="*Наш проект*", width="255", height="255")
                        
                    a.content__all_projects-link.btn-link.btn(href="#") Все проекты

            section.content__video-section.content__section 
                .content__video-container.content__container.container 
                    h2.content__video-title.content__section-title Видео о нашей работе
                    p.content__viceo-descr.content__section-descr.content__text-descr
                        | Просто посмотрите, как мы работаем

                    .content__video-wrapper
                        button.content__video-play-btn
                            img.content__video-play-btn-icon(src="img/icons/play-button.svg", alt="", width="60", height="60")
                            | Смотреть видео

            section.content__subscribe-section.content__section
                .content__subscribe-container.content__container.container
                    h2.content__subscribe-title.content__section-title Подпишитесь на нашу рассылку
                    p.content__subscribe-descr.content__section-descr.content__text-descr
                        | Полезные статьи, акции, новости - получите все это сейчас!

                    form.content__subscribe-form(action="#") 
                        input.content__subscribe-form-input(type="email" placeholder="Ваш e-mail")
                        button.content__subscribe-form-submit.btn(type="submit") Подписаться
                    
                    p.content__subscribe-note Мы не шлем спам, и передаем никому ваши данные.

        footer.footer
            .footer__container.container
                .footer__main-wrapper
                    section.footer__section 
                        h4.footer__section-title Контактная информация
                        ul.footer__section-list-wrapper
                            li.footer__section-elem
                                i.fa-solid.fa-envelope.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") test@test.ru
                            li.footer__section-elem
                                i.fa-solid.fa-phone-volume.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") +8 777 555 66 99
                            li.footer__section-elem
                                i.fa-solid.fa-location-dot.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Москва, Бульвар Ленина 33
                    
                    section.footer__section 
                        h4.footer__section-title Основные ссылки
                        ul.footer__section-list-wrapper
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Главная
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Наши проекты
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Наши услуги
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Контакты
                    
                    section.footer__section 
                        h4.footer__section-title Наши проекты
                        ul.footer__section-list-wrapper
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") РосНано
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Сколково
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Проект “Восток”
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") ТЭЦ Калининграда
                    
                    section.footer__section 
                        h4.footer__section-title Социальные сети
                        ul.footer__section-list-wrapper
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") VK.com
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Instagram
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Facebook
                            li.footer__section-elem
                                i.fa-solid.fa-angle-right.footer__section-elem-icon
                                a.footer__section-elem-link(href="#") Twitter
                
                p.footer__copyright (с) 2019. Все права защищены.
